Repository formbricks/oss.gg, pull requests merged in 2024-05, with the labels that each got.

#82 fix: Replace Player List Item with Leaderboard List Item
  app/(dashboard)/repo-settings/[repositoryId]/players/page.tsx
  lib/repository/service.ts
Labels: enhancement, 🕹️ oss.gg, 🕹️ 100 points

#80 fix: Fix hard coded page title
  app/(dashboard)/enroll/[repositoryId]/layout.tsx
Labels: bug, good first issue, 🕹️ oss.gg, 🕹️ 50 points

#78 feat: Get LEVEL Creation to work
  app/(dashboard)/dashboard/page.tsx
  app/(dashboard)/enroll/[repositoryId]/issues/page.tsx
  app/(dashboard)/enroll/[repositoryId]/layout.tsx
  app/(dashboard)/enroll/[repositoryId]/layoutTabs.tsx
  app/(dashboard)/enroll/[repositoryId]/leaderboard/components/Leaderboard.tsx
  app/(dashboard)/enroll/[repositoryId]/leaderboard/page.tsx
  app/(dashboard)/enroll/[repositoryId]/levels/page.tsx
  app/(dashboard)/issues/page.tsx
  app/(dashboard)/repo-settings/[repositoryId]/layout.tsx
  app/(dashboard)/repo-settings/[repositoryId]/levels/action.ts
  app/(dashboard)/repo-settings/[repositoryId]/levels/lib.ts
  app/(dashboard)/repo-settings/[repositoryId]/levels/page.tsx
  app/(dashboard)/repo-settings/[repositoryId]/players/page.tsx
  app/(dashboard)/storage/[repositoryId]/[accessType]/[fileName]/lib/deleteFile.ts
  app/(dashboard)/storage/[repositoryId]/[accessType]/[fileName]/lib/getFile.ts
  app/(dashboard)/storage/[repositoryId]/[accessType]/[fileName]/route.ts
  app/[githubLogin]/page.tsx
  app/api/storage/route.ts
  components/delete-level-modal.tsx
  components/forms/levels-form.tsx
  components/level-form-container.tsx
  components/ui/conditionalParagraph.tsx
  components/ui/form.tsx
  components/ui/githubIssue.tsx
  components/ui/layoutTabs.tsx
  components/ui/levelDetailCard.tsx
  components/ui/pointsCard.tsx
  components/ui/progressBar.tsx
  components/ui/tag-input.tsx
  components/ui/userPointsAndLevelCard.tsx
  components/ui/userProfileSummary.tsx
  lib/enrollment/service.ts
  lib/github/hooks/issue.ts
  lib/levels/cache.ts
  lib/levels/service.ts
  lib/points/service.ts
  lib/storage/service.ts
  lib/storage/utils.ts
  lib/utils/levelUtils.ts
  lib/utils/textformat.ts
  types/level.ts
  types/storage.ts
Labels: enhancement, 🕹️ oss.gg, 🕹️ 500 points

#79 feat: Add Bounties 💸
  .env.example
  app/(dashboard)/repo-settings/[repositoryId]/bounties/page.tsx
  components/forms/bounty-form.tsx
  env.mjs
  lib/bounty/cache.ts
  lib/bounty/service.ts
  lib/constants.ts
  lib/github/hooks/bounty.ts
  lib/github/index.ts
  lib/github/utils.ts
  lib/tremendous.ts
  package.json
  pnpm-lock.yaml
  prisma/migrations/20240509152651_add_bounties/migration.sql
  prisma/schema.prisma
  types/bounty.ts
Labels: enhancement, ❗️ .env changes, 🕹️ oss.gg, 🕹️ 800 points

#83 feat: Post Discord channel message on points earned
  .env.example
  .gitignore
  env.mjs
  jobs/discordPointsMessage.ts
  jobs/index.ts
  lib/constants.ts
  lib/discord.ts
  lib/github/hooks/issue.ts
  package.json
  pnpm-lock.yaml
  trigger.ts
Labels: ❗️ .env changes

#91 feat: recurring points for contributors with repeated/ongoing tasks
  z_pm-work/Bounty System - A Unified Concept.md
  z_pm-work/Images/BountySource.png
  z_pm-work/Images/Contributor.png
  z_pm-work/Images/Cyscope.png
  z_pm-work/Images/HackerOne.png
  z_pm-work/Images/Maintainer.png
  z_pm-work/Images/empty
  z_pm-work/Recurring Points.md
  z_pm-work/contribution-log.txt
Labels: enhancement, 🕹️ oss.gg, 🕹️ 250 points
