Repository formbricks/oss.gg, pull requests merged in 2024-04, with the labels that each got.

#19 feat: Issue reminder job
  .env.example
  app/api/trigger/route.ts
  env.mjs
  jobs/index.ts
  jobs/issueReminder.ts
  lib/constants.ts
  lib/github/hooks/issue.ts
  lib/github/index.ts
  lib/github/utils.ts
  package.json
  pnpm-lock.yaml
  trigger.ts
Labels: ❗️ .env changes

#63 docs: Added Unified Bounties Concept
  z_pm-work/contribution-log.txt
Labels: enhancement

#62 feat: Add Score Card
  app/(dashboard)/dashboard/page.tsx
  components/header.tsx
  components/ui/pointsCard.tsx
  components/user-account-nav.tsx
  lib/utils/textformat.ts
Labels: enhancement, 🕹️ oss.gg, 🕹️ 250 points

#64 fix: Responsive Design Issues for Improved Cross-Device Compatibility
  app/(dashboard)/contribute/page.tsx
  app/(dashboard)/enroll/[repositoryId]/enrollmentStatusBar.tsx
  app/(dashboard)/enroll/[repositoryId]/layoutTabs.tsx
  app/(dashboard)/enroll/page.tsx
  app/(dashboard)/layout.tsx
  app/(marketing)/founding-team/page.tsx
  app/(marketing)/layout.tsx
  app/(marketing)/page.tsx
  components/header.tsx
  components/nav.tsx
  components/ui/githubIssue.tsx
  components/ui/tabs.tsx
  components/ui/userProfileSummary.tsx
  public/oss-gg-logo.png
  tailwind.config.ts
Labels: enhancement, 🕹️ oss.gg, 🕹️ 250 points, changes requested 🚧

#69 fix: make github revalidation cache time to 1 hour
  lib/constants.ts
Labels: bug, 🕹️ oss.gg, 🕹️ 250 points

#41 feat: added repository settings UI component
  .env.example
  app/(dashboard)/layout.tsx
  app/(dashboard)/repo-settings/[repositoryId]/bounties/page.tsx
  app/(dashboard)/repo-settings/[repositoryId]/description/page.tsx
  app/(dashboard)/repo-settings/[repositoryId]/emails/page.tsx
  app/(dashboard)/repo-settings/[repositoryId]/layout.tsx
  app/(dashboard)/repo-settings/[repositoryId]/levels/action.ts
  app/(dashboard)/repo-settings/[repositoryId]/levels/lib.ts
  app/(dashboard)/repo-settings/[repositoryId]/levels/page.tsx
  app/(dashboard)/repo-settings/[repositoryId]/page.tsx
  app/(dashboard)/repo-settings/[repositoryId]/players/page.tsx
  app/(dashboard)/storage/[environmentId]/[accessType]/[fileName]/lib/deleteFile.ts
  app/(dashboard)/storage/[environmentId]/[accessType]/[fileName]/lib/getFile.ts
  app/(dashboard)/storage/[environmentId]/[accessType]/[fileName]/route.ts
  app/(marketing)/page.tsx
  app/[githubLogin]/layout.tsx
  app/[githubLogin]/page.tsx
  app/api/storage/route.ts
  components/delete-level-modal.tsx
  components/enroll-player-switch.tsx
  components/forms/bounty-form.tsx
  components/forms/emails-form.tsx
  components/forms/levels-form.tsx
  components/level-form-container.tsx
  components/levels-tag-input.tsx
  components/nav.tsx
  components/ui/button.tsx
  components/ui/command.tsx
  components/ui/dialog.tsx
  components/ui/form.tsx
  components/ui/popover.tsx
  components/ui/switch.tsx
  components/ui/tabs.tsx
  components/ui/tag-auto-complete.tsx
  components/ui/tag-input.tsx
  components/ui/tag-list.tsx
  components/ui/tag-popover.tsx
  components/ui/tag.tsx
  components/ui/textarea.tsx
  components/user-account-nav.tsx
  config/dashboard.ts
  env.mjs
  lib/constants.ts
  lib/enrollment/service.ts
  lib/github/services/user.ts
  lib/levels/service.ts
  lib/points/service.ts
  lib/repository/service.ts
  lib/storage/cache.ts
  lib/storage/service.ts
  package.json
  pnpm-lock.yaml
  styles/editor.css
  types/level.ts
  types/repository.ts
  types/storage.ts
Labels: ❗️ .env changes

#70 docs(community): add discord role contribution to community-work.txt
  z_community-work/contribution-log.txt
Labels: enhancement, 🕹️ oss.gg, 🕹️ 100 points

#71 feat: add tabs to open issues
  app/(dashboard)/issues/page.tsx
  lib/github/services/repo.ts
Labels: enhancement, 🕹️ oss.gg, 🕹️ 150 points
