Repository formbricks/oss.gg, pull requests merged in 2024-09, with the labels that each got.

#100 fix: trigger functionality
  .env.example
  .gitignore
  app/api/trigger/route.ts
  env.mjs
  jobs/discordPointsMessage.ts
  jobs/index.ts
  jobs/issueReminder.ts
  lib/constants.ts
  lib/github/hooks/issue.ts
  package.json
  pnpm-lock.yaml
  src/trigger/discordPointsMessage.ts
  src/trigger/issueReminder.ts
  trigger.config.ts
  trigger.ts
  tsconfig.json
Labels: ❗️ .env changes

#102 feat: If a PR has oss.gg and points assigned as labels, it should auto award on merge
  lib/github/hooks/bounty.ts
  lib/github/hooks/issue.ts
  lib/github/index.ts
  lib/github/utils.ts
  src/trigger/issueReminder.ts
  types/githubUser.ts
Labels: documentation, enhancement, 🕹️ oss.gg, 🕹️ 250 points, 💸 5 USD

#116 fix: update README.md
  README.md
Labels: 🕹️ oss.gg, 🕹️ 50 points

#118 feat: Revert "fix: update README.md"
  README.md
Labels: 🕹️ oss.gg, 🕹️ 250 points
